<app-navbar></app-navbar>
<div class="bg-color-blue">

</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
                <div class="card downcard" style="width: 45rem;">
                    <img class="card-img-top" src="http://usalud.usac.edu.gt/images/upload/imagen/51jefes_uds.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-text" style="text-align:center;">UNIDAD DE SALUD</h3>
                      <p class="card-text">
                        Universidad de San Carlos de Guatemala<br>
                        Dirección General de Docencia<br>
                        División de Bienestar Estudiantil</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
                <div class="card downcard" style="width: 45rem;">
                    <img class="card-img-top" src="http://usalud.usac.edu.gt/images/upload/imagen/51jefes_uds.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-text" style="text-align:center;">UNIDAD DE SALUD</h3>
                      <p class="card-text">Con la finalidad de ayudar a los estudiantes <br>
                        nos encontramos actualmente al lado del SUM<br>
                        En horarios de:</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <img class="w-100 hidden-desktop up-img" src="https://cdn.pixabay.com/photo/2020/02/19/22/57/blue-background-4863452_1280.jpg">
  </div>

<app-footer></app-footer>